/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 400px;
    height: 350px;
    border: 3px solid  black;
}


.third-div {
    border: 10px solid red;

    position: sticky;

    top: 100px;
    bottom: 100px;
    left: 450px;

} */


/* 
    position: ; - გადაეცემა 5 მნიშვნელობა
    

    1. static - ეს არის default მნიშვნელობა.

    2. relative - როდესაც ჩვენ ელემენტს მივანიჭებთ relative - ს და მასზე გამოვიყენებთ პოზიციის შეცვლისთვის საჭირო თვისებებს, მაგ დროს ელემენტი შეიცვლის ადგილმდებარეობას, იქიდან საიდანაც არის.

    3. absolute - როდესაც ჩვენ ელემენტს მივანიჭებთ absolute - ს და მასზე გამოვიყენებთ პოზიციის შეცვლისთვის საჭირო თვისებებს, მაგ დროს ელემენტი დაიწყებს პოზიციის შეცვლას მაღლა მარცხენა კუთხიდან.

    4. fixed - როდესაც ჩვენ ელემენტს მივანიჭებთ fixed - ს, მაშინ ის ელემენტი გამოგვყვება ჩვენ სქროლვის დროს(მაღლა სქროლვის ან დაბლა სქროლვის დროს ---- ორივე შემთხვევაში)

    5. sticky - როდესაც ჩვენ ელემენტს მივანიჭებთ sticky - ს, მაშინ ის ელემენტი გამოვყვება ჩვენ სქროლის დროს როდესაც ჩვენ გავცდებით მის პოზიციას, ხოლო მაღლა ამოსქროლვის დროს, როდესაც ელემენტი მივა თავის default პოზიციაზე, მაგ დროს იგი შეტყვიტავს გამოყოლას.

    ჩვენ შეგვიძლია ვაკონტროლოთ ელემენტის მიმართილება.

    როდესაც top - ზე, მივანიჭებთ 0px - ს, მაშინ ელემენტი გამოყვება სქროლ ბარს ქვემო მიმართულებით, ხოლო როდესაც ზემო მიმართულებით წავა, მაშინ უკვე შეწყვიტავს მოქმედებას, მაგრამ თუ ჩვენ bottom - ზე მივანიჭებთ 0px - ს, მაშინ ელემენტი ორივე მიმართულებით გაანახლებს მოძრაობას/ქმედებას.


    ----------------------------------------------------------
     როდესაც ვანიჭებთ მნიშვნელობას position თვისებას, მაშინ აქტიურდება 4 ახალი თვისება

    top:;
    right:;
    bottom:;
    left:;



*/






img {
    width: 650px;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,1));
    -webkiy-
}